GEMINI_API_KEY=AIzaSyDQEmkF6aRMXW-UISS-SdXq93FuJfZZ4hM

# Cloudinary Configuration (for video cloud storage)
CLOUDINARY_CLOUD_NAME=dwrcnifkx
CLOUDINARY_API_KEY=716557175392477
CLOUDINARY_API_SECRET=eZcdXGk6JSzrqv4-z1MeZN_FVAY